<section class="container" style="margin-top:80px">
<div class="container" style="margin-bottom:40px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="text-align:center;">
      <h2>Sign up</h2>
            <a href="<%=user_google_oauth2_omniauth_authorize_path%>" class="btn btn-block btn-social btn-lg btn-google" style="margin:auto;margin-bottom:10px;">
                <span class="fa fa-twitter"></span> Sign in with Google
            </a>
            <a href="<%=user_facebook_omniauth_authorize_path%>" class="btn btn-block btn-social btn-lg btn-facebook" style="margin:auto;">
              <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <hr>
      
</div>
    

</div>
</section>
